body{
  margin:10px;
  padding:30px
}

.Registration{
  display: flex;
  flex-direction: column;

}

.login-container {
  display: flex;
  flex-direction: column
}


/* .nav-bar{
background-color:darkcyan ;
width: 200px;
height: 80px;
font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
display: flex;
}

.left-side{
  flex: 15%;
  background-color: rgb(0, 139, 132);
}

.middle-side{
  flex:60%;
  background-color: rgb(0, 139, 132);
}
.right-side{
  flex : 15%;
  background-color: rgb(0, 139, 132);
}

#homePage{
  margin: auto;
  padding: 1rem;
  text-transform: uppercase;
  color: #fafafa;
  background-color: rgb(24, 57, 83);
  border: none;
  border-radius: 3px;
  box-shadow: 1px 1px 10px rgba(50,50,50,.4);
  transition: .3s all ease;
  letter-spacing: .1rem;
  font-size: .85rem;
  position: relative;
  top: 0;
  right: 0;
  padding-left: 2.5rem;
    font-family: 'Barrio', sans-serif;
    font-weight: bold;
    font-size: 1rem;
    color: darken(green, 20%);
    transition: .3s all ease;
    
    content: '_';
    top: .8rem;

    box-shadow: 1px 1px 20px rgba(150,150,150,.2);
    
    right: -.9rem;
    cursor: pointer;
    
}
#upload{
  margin: auto;
  padding: 1rem;
  text-transform: uppercase;
  color: #fafafa;
  background-color: rgb(24, 57, 83);
  border: none;
  border-radius: 3px;
  box-shadow: 1px 1px 10px rgba(50,50,50,.4);
  transition: .3s all ease;
  letter-spacing: .1rem;
  font-size: .85rem;
  position: relative;
  top: 0;
  right: 0;
  padding-left: 2.5rem;

  
    font-family: 'Barrio', sans-serif;
    font-weight: bold;
    font-size: 1rem;
    color: darken(green, 20%);
    transition: .3s all ease;
    
    content: '_';
    top: .8rem;

    box-shadow: 1px 1px 20px rgba(150,150,150,.2);
    
    right: 90px;
    cursor: pointer;
}

#search{

  margin: auto;
  padding: 0.30rem;
  text-transform: uppercase;
  color: #fafafa;
  background-color: rgb(24, 57, 83);
  border: none;
  border-radius: 3px;
  box-shadow: 1px 1px 10px rgba(50,50,50,.4);
  transition: .3s all ease;
  letter-spacing: .1rem;
  font-size: .85rem;
  position: relative;
  top: 0;
  right: 0;
  padding-left: 2.5rem;

  
    font-family: 'Barrio', sans-serif;
    font-weight: bold;
    font-size: 1rem;
    color: darken(green, 20%);
    transition: .3s all ease;
    
    content: '_';
    

    box-shadow: 1px 1px 20px rgba(150,150,150,.2);
    
    right: -5px;
    top: -0px;
    cursor: pointer;

} */

#inputSearch {
width: 250px;
margin-left: 310px;
margin-top: 20px;

}

#profileButton {
  margin: auto;
  padding: 0.9rem;
  text-transform: uppercase;
  color: #fafafa;
  background-color: rgb(24, 57, 83);
  border: none;
  border-radius: 3px;
  box-shadow: 1px 1px 10px rgba(50,50,50,.4);
  transition: .3s all ease;
  letter-spacing: .1rem;
  font-size: .85rem;
  position: relative;
  top: 0;
  right: 0;
  padding-left: 2.5rem;

  
    font-family: 'Barrio', sans-serif;
    font-weight: bold;
    font-size: 1rem;
    color: darken(green, 20%);
    transition: .3s all ease;
    
    content: '_';
    

    box-shadow: 1px 1px 20px rgba(150,150,150,.2);
    
    right: -110px;
    top: -36px;
    cursor: pointer ;
    border-radius: 50%;
}

#color {
  background-color: #36e4de;
  /* background-color: lightseagreen; */
  /* background-image: url("https://images.pexels.com/photos/1731427/pexels-photo-1731427.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"); */
  background-size: cover;
}
body {
   background-color: #36e4de;
 /* background-image: url("https://wallpapercave.com/wp/wp4813075.jpg"); */
 /* background-size: cover; */
  /* background-image: url("/client/public/pexels-moose-photos-1037995.jpg"); */
}

.container {
  display: flex;
  margin-left: 600px;
}

.container1 {
  display: flex;
  margin-left: 650px;
  justify-content: flex-start;
  column-gap: 10px;
}

#editprofile {
  margin-left: 8px;
  margin-top: 15px;
  padding: 1rem;
  text-transform: uppercase;
  color: #fafafa;
  background-color: rgb(24, 57, 83);
  border: none;
  border-radius: 3px;
  box-shadow: 1px 1px 10px rgba(50, 50, 50, 0.4);
  transition: 0.3s all ease;
  letter-spacing: 0.1rem;
  font-size: 0.85rem;
  position: relative;
  top: 0;
  right: 0;
  padding-left: 2.5rem;
  font-family: "Barrio", sans-serif;
  font-weight: bold;
  font-size: 1rem;
  color: darken(green, 20%);
  transition: 0.3s all ease;
  box-shadow: 1px 1px 20px rgba(150, 150, 150, 0.2);
  height: 55px;
}

#name {
  font-family: "Open Sans";
}

#title {
  margin-left: -930px;
  margin-top: 12px;
  padding: 1rem;
  text-transform: uppercase;
  color: #fafafa;
  background-color: rgb(24, 57, 83);
  border: none;
  border-radius: 3px;
  box-shadow: 1px 1px 10px rgba(50, 50, 50, 0.4);
  transition: 0.3s all ease;
  letter-spacing: 0.1rem;
  font-size: 0.85rem;
  position: relative;
  top: 0;
  right: 0;
  padding-left: 2.5rem;
  font-family: "Barrio", sans-serif;
  font-weight: bold;
  font-size: 1rem;
  color: darken(green, 20%);
  transition: 0.3s all ease;
  box-shadow: 1px 1px 20px rgba(150, 150, 150, 0.2);
  height: 55px;
}
.container2 {
  display: flex;
  justify-content: center;
 margin-left: -20px; 
  background-color: lightyellow;
}

.name1 {
  font-family: Cambria;
}
#name2 {
  font-family: Calibri;
}
.container3 {
  display: flex;
  background-color: rgb(255, 255, 255);
  justify-content: center;
  height: 400px;
}

body {
  margin: 10px;
  padding: 30px;
}

.Registration {
  display: flex;
  flex-direction: column;
}

.login-container {
  display: flex;
  flex-direction: column;
}

.container5{
display: flex;
margin-left: 230px;
}
.container6{
    display: flex;
    column-gap: 10px;
    flex-direction: column;
    margin-top: -53px;
    font-style: oblique;
    font: 20px Arial, sans-serif;
    
}

#search{

  margin: auto;
  padding: 0.30rem;
  text-transform: uppercase;
  color: #fafafa;
  background-color: rgb(24, 57, 83);
  border: none;
  border-radius: 3px;
  box-shadow: 1px 1px 10px rgba(50,50,50,.4);
  transition: .3s all ease;
  letter-spacing: .1rem;
  font-size: .85rem;
  position: relative;
  top: 0;
  right: 0;
  padding-left: 2.5rem;

  
    font-family: 'Barrio', sans-serif;
    font-weight: bold;
    font-size: 1rem;
    color: darken(green, 20%);
    transition: .3s all ease;
    
    content: '_';
    

    box-shadow: 1px 1px 20px rgba(150,150,150,.2);
    
    right: -5px;
    top: -0px;
    cursor: pointer;
}
